---
import ProseList from "../components/ProseList.astro"
import Base from "../layouts/Base.astro"
import { getCollection, CollectionEntry } from "astro:content"

export async function getStaticPaths() {
    const pages = await getCollection("tracks")
    return pages.map((entry) => ({
        params: { trackId: entry.slug },
        props: { entry },
    }))
}
export type Props = {
    entry: CollectionEntry<"tracks">
}
const { entry } = Astro.props as Props
const { Content } = await entry.render()

let sessions = (await getCollection("sessions")).filter(
    (session) => session.data.track === entry.slug,
)
let speakers = new Map<string, CollectionEntry<"people">>(
    (await getCollection("people")).map((entry) => [entry.id, entry]),
)
---

<Base title={entry.data.name}>
    <main>
        <h1>{entry.data.name}</h1>
        <Content />
        <h2>Sessions</h2>
        <ul>
            {
                sessions.map((session) => (
                    <li>
                        <a href={`/program/${session.id}`}>
                            {session.data.title}
                        </a>{" "}
                        by
                        <ProseList
                            items={session.data.speakers.map(
                                (id) => speakers.get(id)?.data.name,
                            )}
                        />
                    </li>
                ))
            }
        </ul>
    </main>
</Base>
