---
import Base from "../layouts/Base.astro"
import logoReversed from "../imgs/Logo_Reversed.svg"
import Navigation from "../components/Navigation.astro"
import NoOrphanText from "../components/NoOrphanText.astro"
import { getEntryBySlug } from "astro:content"

let entry = await getEntryBySlug("pages", "index")
const { Content, headings } = await entry.render()
---

<Base navigation={false}>
  <script
    type="application/ld+json"
    set:html={`
      {
        "@context": "https://schema.org",
        "@type": "ExhibitionEvent",
        "location": "Melbourne Convention and Exhibition Centre",
        "url": "https://2024.pycon.org.au/",
        "name": "PyCon AU 2024",
        "startDate": "2023-11-22",
        "endDate": "2023-11-26",
        "eventAttendanceMode": "https://schema.org/MixedEventAttendanceMode",
        "eventStatus": "https://schema.org/EventScheduled",
        "inLanguage": "en-AU"
      }
    `}
  />

  <header id="header" slot="nav">
    <img src={logoReversed.src} alt="PyCon AU" role="heading" aria-level="1" />
    <div class="rotated">
      <Navigation logo={false} />
    </div>
  </header>
  <main>
    <Content />
  </main>
</Base>
