---
import Base from "../layouts/Base.astro"
import logoReversed from "../imgs/Logo_Reversed.svg"
import Navigation from "../components/Navigation.astro"
import NoOrphanText from "../components/NoOrphanText.astro"
import { getEntryBySlug } from "astro:content"
import conferenceImage from "../imgs/og.png"

let entry = await getEntryBySlug("pages", "index")
const { Content, headings } = await entry.render()
---

<Base navigation={false}>
  <script
    type="application/ld+json"
    set:html={JSON.stringify(
      {
        "@context": "https://schema.org",
        "@type": "Event",
        "location": {
          "@type": "Place",
          "name": "Pullman Melbourne On The Park",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "192 Wellington Parade",
            "addressLocality": "East Melbourne",
            "postalCode": "3002",
            "addressRegion": "VIC",
            "addressCountry": "AU"
          }
        },
        "url": "https://2025.pycon.org.au/",
        "name": "PyCon AU 2025",
        "image": conferenceImage.src,
        "startDate": "2025-09-12",
        "endDate": "2025-09-16",
        "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
        "eventStatus": "https://schema.org/EventScheduled",
        "inLanguage": "en-AU",
      }
    )}
  />

  <header id="header" slot="nav">
    <img src={logoReversed.src} alt="PyCon AU" role="heading" aria-level="1" />
    <div class="rotated">
      <Navigation logo={false} />
    </div>
  </header>
  <main>
    <Content />
  </main>
</Base>
