---
import Base from "../layouts/Base.astro"
import logoReversed from "../imgs/Logo_Reversed.svg"
import Navigation from "../components/Navigation.astro"
import MailingListSignup from "../components/MailingListSignup.astro"
import NoOrphanText from "../components/NoOrphanText.astro"
---

<Base navigation={false}>
  <!--
  <script
    type="application/ld+json"
    set:html={`
      {
        "@context": "https://schema.org",
        "@type": "ExhibitionEvent",
        "location": "Adelaide Convention Centre",
        "url": "https://2024.pycon.org.au/",
        "name": "PyCon AU 2024",
        "startDate": "2023-08-18",
        "endDate": "2023-08-22",
        "eventAttendanceMode": "https://schema.org/MixedEventAttendanceMode",
        "eventStatus": "https://schema.org/EventScheduled",
        "inLanguage": "en-AU"
      }
    `}
  />
    -->
  <header id="header" slot="nav">
    <img src={logoReversed} alt="PyCon AU" role="heading" aria-level="1" />
    <div class="rotated">
      <article>
        <h1>
          <NoOrphanText>We're back in 2024!</NoOrphanText>
        </h1>
      </article>
      <Navigation logo={false} />
    </div>
  </header>
  <main>
    <h1>PyCon AU is back!</h1>
    <p>
      PyCon AU 2024 is going to be announced soon!
    </p>
    <p>
      We are always looking for <a href="/sponsor/#opportunities">sponsors</a>
       to help us make the conference accessible and affordable.
    </p>
    <p>
      To find out more as it happens you can follow us on <a
        href="https://fosstodon.org/@pyconau">Mastodon</a
      > or <a href="https://twitter.com/PyConAU">Twitter</a>, or subscribe to
      our mailing list:
    </p>
    <MailingListSignup />
  </main>
</Base>
