---
import Base from "../layouts/Base.astro"
import logoReversed from "../imgs/Logo_Reversed.svg"
import Navigation from "../components/Navigation.astro"
import MailingListSignup from "../components/MailingListSignup.astro"
import NoOrphanText from "../components/NoOrphanText.astro"
---

<Base navigation={false}>
  
  <script
    type="application/ld+json"
    set:html={`
      {
        "@context": "https://schema.org",
        "@type": "ExhibitionEvent",
        "location": "Melbourne Convention and Exhibition Centre",
        "url": "https://2024.pycon.org.au/",
        "name": "PyCon AU 2024",
        "startDate": "2023-11-22",
        "endDate": "2023-11-26",
        "eventAttendanceMode": "https://schema.org/MixedEventAttendanceMode",
        "eventStatus": "https://schema.org/EventScheduled",
        "inLanguage": "en-AU"
      }
    `}
  />
   
  <header id="header" slot="nav">
    <img src={logoReversed} alt="PyCon AU" role="heading" aria-level="1" />
    <div class="rotated">
      <article>
        <h1>
          <NoOrphanText>Our Call for Proposals is now live!</NoOrphanText>
        </h1>
      </article>
      <Navigation logo={false} />
    </div>
  </header>
  <main>
    <h1>PyCon AU is back for 2024!</h1>
    <p>
      In 2024, PyCon AU will be held from the <b>22nd to the 26th of November</b> at the <b>Melbourne Convention and Exhibition Centre (MCEC) in Narrm/Melbourne</b>.
    <p>
      More details will be announced soon, so stay tuned!
    </p>
    <h2>Want to present at our event?</h2>
    <p>
      Our call for proposals is open until Sunday the 21st of July, 2024. See our <a href="/program">program</a> page for full details.
    </p>
    <h2>Want to sponsor our event?</h2>
    <p>
      We are always looking for <a href="/sponsor/#opportunities">sponsors</a>
       to help us make the conference accessible and affordable.
    </p>
    <p>
      To find out more as it happens, you can follow us on <a
        href="https://mastodon.pycon.org.au/@pyconau">Mastodon</a
      > or <a href="https://twitter.com/PyConAU">Twitter</a>, or subscribe to
      our mailing list:
    </p>
    <MailingListSignup />
  </main>
</Base>
