---
type ButtonType = 'chonk' | 'smol'
export type Props = {
  type?: ButtonType
  href: string
}
const {type, href} = (Astro.props as Props)
---
<style lang="scss">
	@import "../vars.scss";
	.btn {
	  text-decoration: none;
	  background-color: $wattle-leaf;
	  color: white;
	  font: $heading-font;
	  display: inline-block;
	  font-weight: bold;
	  padding: 0.3em 1em;
	  border-radius: 5px;
	
	  &.btn-chonk {
		font-size: 4em * 1 / 3;
		border-radius: 5px * 4 / 3;
	  }
	
	  &.btn-smol {
		font-size: 1em * 3 / 4;
		border-radius: 5px * 3 / 4;
	  }
	
	  &:focus {
		border: 3px solid $wattle-flower;
		margin: -3px;
	  }
	
	  &:hover {
		background-color: darken($wattle-leaf, 10%);
	  }
	}
</style>
<a class:list={["btn", type]} href={href}>
	<slot />
</a>