---
import Button from "./Button.astro"

export type Props = {
  cta: string
  
}
let { cta } = Astro.props

---

<p>
    <center id="purchase-button-container">
        <Button type="chonk" href="https://pretix.eu/pyconau/2024/">
            { cta ?? 'Get your tickets now!'}
        </Button>
    </center>
</p>

<style lang="scss">
  @import "../vars.scss";
    #purchase-button-container + p {
        margin-top: 1.25rem;
    }
</style>

<script>
    // Use a campaign URL if the viewer came from social media.
    const referrer = window.localStorage.getItem("referrer")
    console.log(referrer)
    if (referrer) {
        const campaignUrl = {
            // Twitter
            tw: "https://pretix.eu/pyconau/2024/c/V6nsZVR5k/",
            // LinkedIn
            li: "https://pretix.eu/pyconau/2024/c/Z4m7ctrPC/",
            // Fediverse
            fv: "https://pretix.eu/pyconau/2024/c/1mPdQLtHo/",

        }[referrer]
        if (campaignUrl) {
            const link = document
                .getElementById("purchase-button-container")!
                .querySelector("a")!
            link.href = campaignUrl
        }
    }
</script>
