---
export type Props = {
  href: string
}
const { href } = Astro.props as Props
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0; URL=${href}`} />
    <link rel="canonical" href={href} />
  </head>
  <body>
    This page has moved to <a href={href}>{href}</a>
  </body>
</html>
