<style lang="scss">
  @import "../vars.scss";
  .switcher {
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    border: 2px solid $wattle-leaf;
    border-radius: 7px;
    padding: 2px;
    space-between: 2px;
  }
</style>
<div class="switcher">
  <slot />
</div>
