---
import './base.scss'
import logo from '../imgs/logo.svg'
import sponsorLa from '../imgs/sponsor-logos/la.svg'
import Navigation from '../components/Navigation.astro'
export type Props = {
  title?: string
}
const {title} = Astro.props as Props
---

<!DOCTYPE html>
<html lang="en" class="{% block html_class %}{% endblock %}">
  <head>
    <meta charset="utf-8" />
    <title>{ title }</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>
  <body>
    <slot name="nav">
      <Navigation />
    </slot>
    <slot />
    <footer>
      <section class="sponsor auspice">
        <h1>PyCon AU is an event of</h1>
        <img src={sponsorLa} alt="Linux Australia" />
      </section>
      <section class="copyright">
        <b>Contact us:</b>
        <a href="mailto:contact@pycon.org.au">contact@pycon.org.au</a><br />
        &copy; 2020&ndash;2023, the PyCon AU team
      </section>
    </footer>
  </body>
  <script type="text/javascript">
    if (window.location.hash === "#debug") document.body.classList.add("debug")
  </script>
</html>
