---
import "./base.scss"
import og from "../imgs/og.png"
import Navigation from "../components/Navigation.astro"
import Footer from "../components/Footer.astro"
export type Props = {
  title?: string
  navigation?: boolean
  ogImagePath?: string
}
const { title, navigation, ogImagePath } = Object.assign(
  {},
  { navigation: true },
  Astro.props,
) as Props
const fullTitle = title ? `${title}—PyCon AU 2024` : "PyCon AU 2024"

const ogAbsoluteUrl = new URL(
  ogImagePath ?? (og as any as string),
  "https://2024.pycon.org.au/",
)
---

<!DOCTYPE html>
<html lang="en" class="{% block html_class %}{% endblock %}">
  <head>
    <meta charset="utf-8" />
    <title>{fullTitle}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta property="og:image" content={ogAbsoluteUrl.toString()} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:title" content={fullTitle} />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/common/img/icons/favicon.ico"
    />
    <script>
      // Record where the visitor came from.
      // We just store this in local storage, because we only use it
      // when linking to the ticket store.
      const referrer = new URLSearchParams(window.location.search).get("ref")
      if (referrer) window.localStorage.setItem("referrer", referrer)
    </script>
  </head>
  <body>
    <slot name="nav">
      {navigation && <Navigation />}
    </slot>
    <slot />
    <Footer />
  </body>
  <script type="text/javascript">
    if (window.location.hash === "#debug") document.body.classList.add("debug")
  </script>
</html>
