name: Update schedule
on:
  workflow_dispatch:
  schedule:
    - cron: "22 */2 * * *"
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.11"
      - run: |
          cd scripts
          pip install poetry
          poetry install
          poetry run python schedule_sync.py
        env:
          PRETALX_TOKEN: ${{ secrets.PRETALX_TOKEN }}
      - run: git diff
      - uses: EndBug/add-and-commit@v5.3.0
        id: add-and-commit
        with:
          add: |
           - public/people
           - src/content/sessions
           - src/content/people
           - src/content/_people_etags.yml
          author_name: Robot
          author_email: beep-boop@local
          message: "Auto-update of schedule"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Notify discord
        if: steps.add-and-commit.outputs.committed == 'true'
        uses: th0th/notify-discord@v0.4.1
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_JOB_NAME: "Update schedule"
          GITHUB_JOB_STATUS: ${{ job.status }}
